body {
 	margin: 0;
 	padding: 0;

 	font-family: "Cuprum", Arial, sans-serif;
 	font-size: 14px;
 	line-height: 24px;
 	font-weight: 400;
 	color: #ffffff;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
 	text-decoration: none;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
}

.button {
	display: inline-block;

 	font: inherit;

 	text-align: center;
 	vertical-align: middle;
  
 	border: none;
}

.header {
	background-color: #f3f7f9;
	padding-bottom: 60px;
}

.header-top {
	margin-bottom: 45px;
	height: 42px;

	background-color: #293449;
}

.header-top .container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.header-logo {
	display: block;
	padding-top: 11px;
	padding-bottom: 1px;
	width: 220px;

	text-align: center;

	border-bottom: 5px solid #b52933;
	background-color: #ee3643;
}

.header-logo:hover {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;
}

.header-top form {
	display: inline-block;
	height: 42px;

	vertical-align: top;
}

.search-field {
	width: 270px;
	padding: 12px 7px 12px 48px;

	font-size: 17px;
	line-height: 18px;
	color: #000000;

	background-color: transparent;
	border: none;
}

.search-field:focus {
	background-color: #ffffff;
	outline: none;
}

.search-field::-webkit-input-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.search-field::-moz-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.search-field:-moz-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.search-field:-ms-input-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.header-link {
	display: inline-block;
	padding: 12px 5px 12px 44px;
	width: 150px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	vertical-align: top;
}

.header-link.active {
	background-color: #ee3643;
}

.header-link:hover {
	background-color: #212a3a;
}

.header-link:active {
	background-color: #161d29;
	color: rgba(255,255,255,0.6);
}

.header-link:nth-of-type(3) {
	padding-left: 49px;
}

.header-link:last-child {
	padding-left: 4px;

	background-color: #63a63e;
}

.header-link:last-child:hover {
	background-color: #5fbb2d;
}

.header-link:last-child:active {
	background-color: #518534;
	color: rgba(255,255,255,0.5);
}

.header-middle {
	display: flex;
	align-items: flex-start;
	margin-bottom: 37px;
	padding-left: 52px;
}

.advertising-text {
	margin: 0;
	margin-top: 4px;
	margin-right: 68px;
	width: 200px;

	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-contact {
	margin-right: 51px;
}

.header-phone {
	display: block;
	padding: 10px;
	padding-left: 71px;
	width: 270px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header-address {
	margin: 3px 0 2px;

	text-align: center;
	color: #000000;
}

.profile-buttons {
	display: flex;

	margin: 0;
	padding: 0;
	list-style: none;
}

.profile-button {
	margin-right: 10px;
	padding: 13px 5px 11px 27px;
	width: 121px;

	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #fff;
}

li:last-child .profile-button {
	margin-right: 0;
	padding-left: 5px;
	width: 150px;
}

.profile-button:hover {
	color: #ee3643;
}

.profile-button:active {
	color: rgba(0,0,0,0.3);
}

.profile-name {
	padding-right: 49px;
	width: 298px;
	margin-right: 0;
}

.profile-name:hover {
	color: #000000;
}

.profile-name:active {
	color: rgba(0,0,0,0.3);
}

.profile-links {
	display: flex;
	margin: 0;
	margin-top: 7px;
	margin-left: 18px;
	padding: 0;
	list-style: none;
}

.profile-link {
	margin-right: 32px;

	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.profile-link:hover {
	color: #ee3643;
}

.profile-link:active {
	color: rgba(0,0,0,0.3);
}

.nav-list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;

	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.nav-link {
	display: block;
	padding: 20px 30px 18px 31px;

	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.nav-link:hover {
	background-color: #293449;
}

.nav-link:active {
	background-color: #1d2739;
	color: rgba(255,255,255,0.5);
}

.grid-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
}

.about {
	width: 550px;
}

.contact {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.about-title,
.contact-title {
	margin: 0;
	margin-bottom: 26px;

	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.about-text,
.contact-text {
	margin: 0;
	margin-bottom: 24px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.about-text:last-of-type {
	margin-bottom: 11px;
	width: 400px;
}

.contact-text {
	margin-bottom: 31px;
	width: 200px;
}

.partners {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	list-style: none;
}

.partner {
	padding: 10px 0 10px 37px;

	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.about-link,
.contact-link {
	padding: 12px 0 8px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	border-radius: 2px;
}

.about-link {
	width: 220px;
}

.contact-link {
	padding-left: 64px;
	flex: 1;
}

.about-link:hover,
.contact-link:hover {
	background-color: #ca2c37;
}

.about-link:active,
.contact-link:active {
	background-color: #ba2732;
}

.map-icon {
	display: block;
	margin-bottom: 40px;
	width: 300px;
	height: 158px;

	background-color: #f4f2ed;
}

.footer {
	background-color: #32425c;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 29px;
}

.footer-logo {
	display: block;
	padding: 20px 0 12px;
	width: 220px;

	text-align: center;

	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}

.footer-logo:hover {
	background-color: #ca2c37;
}

.footer-logo:active {
	background-color: #ba2732;
}

.footer-nav,
.footer-offers {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-nav {
	margin-bottom: 4px;
}

.footer-link {
	margin-left: 59px;

	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-link:active {
	opacity: 0.5;
}

.footer-middle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.footer-contacts {
	padding-left: 4px;
	margin: 0;
	width: 330px;

	font-size: 18px;
	line-height: 24px;
}

.footer-contacts a {
	color: #ffffff;
}

.footer-offers .footer-link {
	color: #ffd180;
}

.copyright {
	background-color: #293449;
}

.copyright-inner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 107px;
}

.copy-text {
	margin: 0;
	margin-right: 160px;
	padding-left: 1px;

	font-size: 16px;
	line-height: 18px;
}

.social {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-right: 119px;
	padding: 0;
	padding-top: 4px;
	list-style: none;
}


.social-link {
	display: block;
	width: 40px;
	height: 40px;
	margin-right: 5px;

	border-radius: 50%;
	background-color: #212a3a;
}

li:last-child .social-link {
	margin-right: 0;
}

.social-link:hover,
.social-link:active {
	background-color: #ee3643;
}

.copy-link {
	margin-right: 49px;
	width: 140px;

	font-size: 16px;
	line-height: 18px;
}

.copy-link:last-child {
	margin-right: 0;
	width: 110px;
}

.copy-link a {
	color: #ffd180;
}

.copy-link a:hover {
	text-decoration: underline;
}

.copy-link a:active {
	color: #ee3643;
}

.catalog-header {
	display: flex;
	flex-direction: column-reverse;
}

.catalog-title {
	margin: 0;
	height: 89px;
	padding-top: 29px;
	padding-left: 28px;

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 21px 0;
	list-style: none;
}

.breadcrumbs li {
	margin-right: 40px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs li:first-child a {
	display: block;
	width: 15px;
	height: 15px;

	font-size: 0;
}

.filter,
.product-list {
	font-family: "PT Sans", "Arial", sans-serif;
}

.filter {
	width: 220px;
}

.filter fieldset {
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
	padding-bottom: 4px;
	border: 0;
}

.filter-form fieldset:not(:last-of-type) {
	border-bottom: 1px solid #e5e5e5;
}

.filter-form fieldset:last-of-type {
	margin-bottom: 58px;
}

.fieldset-title {
	margin-bottom: 10px;

	font-size: 17px;
	height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter-producers,
.filter-power {
	margin: 0;
	padding: 0;
}

.filter-producers p,
.filter-power p {
	margin: 0;
}

.filter-producers li,
.filter-power li {
	margin-bottom: 16px;
}

/* Скрыл временно недоступно, дабы не мешали*/
.filter input[type="checkbox"],
.filter input[type="radio"] {
	display: none;
}

.param-title {
	padding-left: 35px;

	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}

.filter-submit {
	padding: 10px 0 8px;
	width: 140px;

	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	border-radius: 2px;
	border: 1px solid #e5e5e5;
	background-color: transparent;

	cursor: pointer;
}

.product-list {
	width: 700px;
}

.products {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;

	border: 1px solid #e5e5e5;
}

.product-card:nth-child(3) {
	margin-right: 0;
}

.product-card > * {
	order: 1;
}

.card-picture {
	order: 0;
	margin: 0;
	margin-bottom: 2px;
}

.card-title {
	margin: 0;
	margin-bottom: 12px;
	width: 190px;

	font-size: 18px;
	line-height: 20px;
	color: #000000;
	text-align: center;
}

.card-sale,
.card-price {
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.card-sale {
	margin-bottom: 9px;
	margin-left: 3px;

	color: #999999;
	text-decoration: line-through;
}

.card-price {
	display: block;
  margin-right: 11px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 34px;
  width: 120px;

	border-radius: 2px;
	background-color: #ee3643;
}

.card-links {
	display: none;
}

.card-buy,
.card-bookmark {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.card-buy {
	background-color: #63a63e;
	color: #ffffff;
}

.card-buy:hover {
	background-color: #5fbb2d;
}

.card-buy:active {
	background-color: #518534;
}

.card-bookmark {
	color: #32425c;
}

.card-bookmark:active {
	opacity: 0.3;
}
	
